/*----------------------------------------- footer --------------------------------------------------------------------------------*/


 .row.foot{
   background-color: #EF7318;
   height: auto;
   justify-content: center;
   text-align: center;
   align-items: center;
 }

 .row.footer{
    justify-content: center;
 }

 .newrelese{
     width: 100px;
 }

 hr.solidfooter {
    border: 1px solid rgb(219, 81, 155);

  }

 .item{
     margin-top: 20px;
     margin-bottom: 20px;
 }

 .flex-content-footer {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }

 .flex-item {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }

  .logofoot{
   width: 200px;
   border: 1px red;
   border-radius: 20px;
}

#longtext{
   background-color: #EF7318;
    margin-top: -25px;
    padding-top: 50px;
    border-top: 1px solid rgb(205, 207, 218);
   
}

.long-footer{
   background-color: #16192c !important;
   color:white;
   padding: 3rem 1.5rem 6rem;
   margin-top: 50px;

 }
 .long-footer .links li a {
   color: white;
   transition: color 0.2s ease 0s;
}

.x14{
   height: 33px;
   width: 110px;
   margin-bottom: 8px;
}


.long-footer .links ul {
   list-style-type: none;
}
  
.logofoot{
   width: 200px;
   border: 1px red;
   border-radius: 20px;
}

.ema-footer{

text-align: center;

}

.hiHGcU {
   text-align: left;
}

.footer-curved-bg {
   background-color: transparent;
   background-size: cover;
   -webkit-background-size: cover;
   height: 4rem;
   overflow: hidden;
   position: relative;
   width: 100%;
}

.footer-curved-bg:after {
   background: #EF7318;
   border-radius: 100%;
   content: "";
   height: 0;
   left: 50%;
   padding-top: 200%;
   position: absolute;
   top: 0;
   transform: translateX(-50%);
   width: 550%;
}



 @media screen and (max-width: 600px) {

   .hiHGcU {
      text-align: center;
   }
 }


