
@import 'https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap';


@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js';

body {
    font-family: 'Kanit';
    background-color: #eff3ff
    ;
    /* background-image: url('assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover; */
    

}






    
/* Mobile */
  @media screen and (max-width: 600px) {
    
    .row.adsweb{
      display: none;
    }
    .row.categoryweb{
      display: none;
    }

    .row.relatedweb{
      display: none;
    }

    .row.loginformweb{
      display: none;
    }

    
    .container.loginformweb{
      display: none;
    }

    .container.userregisweb{
      display: none;
    }

    .container.shopregisweb{
      display: none;
    }

    .row.productdetailweb{
      display: none;
    }

    .inputsearchweb{
      display: none;
    }

    .linevertical{
      display: none;
    }

    .container.profileweb{
      display: none;
    }
  
   
  }

  /* Tablet */
  @media (min-width: 768px) {
    .row.adsmobile{
      display: none;
    }
    .row.categorymobile{
      display: none;
    }

    .row.relatedmobile{
      display: none;
    }

    .row.loginformmobile{
      display: none;
    }

    
  .container.loginformmobile{
    display: none;
  }

  .container.userregismobile{
    display: none;
  }

  .container.shopregismobile{
    display: none;
  }

  .row.productdetailmobile{
    display: none;
  }

  .inputsearchmobile{
    display: none;
  }

  .container.profilemobile{
    display: none;

  }

}



/* Desktop */
  @media (min-width:960px) {

    .row.adsmobile{
      display: none;
    }

    .row.categorymobile{
      display: none;
    }

    .row.relatedmobile{
      display: none;
    }

    
    .row.loginformmobile{
      display: none;
    }

    
  .container.loginformmobile{
    display: none;
  }

  .container.userregismobile{
    display: none;
  }

  .container.shopregismobile{
    display: none;
  }

  .row.productdetailmobile{
    display: none;
  }
  .inputsearchmobile{
    display: none;
  }

  .container.profilemobile{
    display: none;

  }





}