.imglogo{
  width: 100px;
}



/* .navbar{
  background-color: #171c24;
  ;

} */

/* .container-fluid{
  margin-top: 10px;

} */

.nav_mobie_fisrt{
  width: 100%;
}

.descquickmenumobile{
  font-size: 13px;
}

.numitem {
  position: absolute;
  top: -5px;
  width: 16px;
  height: 16px;
  background: #e3191b;
  font-size: 12px;
  text-align: center;
  color: #fff;
  line-height: 15px;
  border-radius: 4px;
}
.descquickmenu {
  margin-left: 5px;
  font-size: 13px;
  margin-top: 8px;
  font-family: kanit,sans-serif;
}
.descquickmenumobile-login{
  text-align: center;
}

.icon-size-nav{
  font-size: 25px;
}

.header-main {
  position: relative;
  padding-top: 10px;
  /* padding-bottom: 10px; */
  /* background-color: #171c24; */


  background-color: orange;
  /* height: 60px; */
}


.navbar.navbar-dark.bg-sat{
  background-color: #EF7318!important;
}



.brand-wrap {
  text-decoration: none !important
}

.navshop-mobiles{

  background-color: #e0e0cd!important;
}



.icon-sm {
  width: 48px;
  height: 48px;
  line-height: 48px !important;
  font-size: 20px
}

.widget-header {
  display: inline-block;
  vertical-align: middle;
  position: relative
}

.widget-header .notify {
  position: absolute;
  top: -3px;
  right: -10px
}


.mr-3,
.mx-3 {
  margin-right: 1rem !important;

}


.search-form {
  border: 1px solid #ffffff !important;
  justify-content: center;

}

.search-button {
  color: #007bff;
  background-color: #ffffff;
  border-color: #ffffff
}

.navbar-main {
  background-color: #fff
}


.thai-img {
  height: 20px;
  width: 20px;
}




.nav-link {
  text-transform: uppercase;
  font-weight: 400
}

.vl {
  border-left: 1px solid #fff;
  height: 100%
}

.fas {
  color: #fff
}

.login {
  color: white
}

.text-login {
  color: black
}


.bg-alpha {
  /* background: rgba(235, 115, 4, 0.5); */
  background-color: #EF7318;
}

.navbar-fixed {
  top: 0;
  z-index: 100;
position: fixed;
  width: 100%;
}

.nav-icon-mobile{
  display: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
  right: 1px;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.regishover:hover{
  color: black;
}

.selnav-op > button{
  color: black;
  border-radius: 0px;
  border-color: white;
  background-color: #e6e6e6;
}
.nav-search > input {

  border-radius: 0px;
}

select option {
  background-color: #fafafa;
  color: rgb(10, 10, 10);
}

.ic-nav-black{

  color: black;
}

.ic-nav-bg-white{
  border-radius: 0px;
  background-color: #fafafa;
  border-color: #ffffff;
}

/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */


.cart-mobi{
  display: none;
}

.navshop-mobile-search{
  display: none;
}




    .icon-mobile{
      width: 200px;
          height: 40px;
   }

   .nav-form-search{
padding-left:0px ;
padding-right:0px ;
border-radius: 0px;
   }

   .nav-first-s{
    justify-content: normal;
   }

   .nav-sell{
     display: none;
   }
   .nav-tp-pad{
     padding-top: 3px;
   }


 

@media screen and (max-width: 400px) {
  .icon-mobile{
width: 80px;
    height: 40px;
  }

  .cart-desktop{
    display: none;

  }
  .nav-sell{
    font-size: 10px;
  }
  /* .cart-mobi{
    display: block;
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } */

  .cart-mobi{
    font-size: 10px;
  }

}


@media screen and (max-width: 375px) {



  .cart-mobi{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: unset;

  }




}


@media screen and (max-width: 350px) {
  .icon-mobile{
width: 80px;
    height: 40px;
  }

  .cart-desktop{
    display: none;

  }
  .cart-mobi{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: unset;
      /* overflow: hidden; */
       /* width: 50px; */
  }




}


@media screen and (max-width: 380px) {

  .nav-sell{
    font-size: 10px;
  }






}





@media screen and (max-width: 500px) {
  .icon-mobile{
width: 80px;
    height: 40px;
  }

  .cart-desktop{
    display: none;

  }
  .cart-mobi{
    display: block;
  }

   .subst-mobile
  {
    width: 202px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .nav-regishop-mobile{
    display: none;
  }
  .navshop-mobiles{

    background-color: #EF7318!important;
  }

  .navshop-mobile-search{
    display: block;
  }

  .nav-sell{
    display: block;
  }


  .nav-sell{
    font-size: 10px;
  }






}





@media screen and (max-width: 550px) {
  .icon-mobile{
width: 80px;
    height: 40px;
  }

  .cart-desktop{
    display: none;

  }
  .cart-mobi{
    display: block;
  }

   .subst-mobile
  {
    width: 202px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .nav-regishop-mobile{
    display: none;
  }
  .navshop-mobiles{

    background-color: #EF7318!important;
  }

  .navshop-mobile-search{
    display: block;
  }

  .nav-sell{
    display: block;
  }




}

@media screen and (max-width: 768px) {


}


@media screen and (max-width: 600px) {
  .icon-mobile{
width: 80px;
    height: 40px;
  }

  .cart-desktop{
    display: none;

  }
  .cart-mobi{
    display: block;
    font-size: 10px;
  }

   .subst-mobile
  {
    width: 202px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .nav-regishop-mobile{
    display: none;
  }
  .navshop-mobiles{

    background-color: #EF7318!important;
  }

  .navshop-mobile-search{
    display: block;
  }

  .nav-sell{
    display: block;
  }

  .nav-shop-tops{
    display: none;
  }




}

@media screen and (max-width: 576px) {
  .nav-mobile-fav{
    /* display: none; */
    visibility: collapse;
  }

  .ic-nav-bg-white{
 
    width: 100%;
  }

  .search-mobile{
    padding-left: 10px;
  }

  /* .cart-mobile{
display: block;

  }
  .nav-shop-tops{
    display: none;
  }

  .icon-mobile{
    width: 60px;
        height: 60px;
 }

 .nav-regishop-mobile{
  font-size: 16px;
}
.nav-regishop-ipad{
  display: none;

}
.login-size-ipad{

  font-size: 14px;
} */


}

@media screen and (max-width: 700px) {




  .icon-mobile{
    width: 60px;
        height: 60px;
 }


.nav-regishop-ipad{
  display: none;

}
.login-size-ipad{

  font-size: 14px;
}


}

@media screen and (max-width: 800px) {
  .icon-mobile{
    width: 60px;
        height: 60px;
 }

}



@media (min-width: 992px) {
  .banav {

    /* height: 60px; */
    padding-left: 4%;
    padding-right: 4%;
  }


 }

 @media (min-width: 500px) {
 
  
 
  }


 /* @media (max-width: 576px) {

  .descquickmenu {
 
    font-size: 10px;

 }



}

@media (max-width: 600px) {

  .descquickmenu {
    font-size: 12px;
 }
} */

@media (min-width: 390px) {

  .descquickmenu {
    font-size: 10px;
 }
}


 @media (min-width: 1100px) {
  .banav {

    /* height: 60px; */
    padding-left: 5%;
    padding-right: 5%;
  }


 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .banav {

    /* height: 60px; */
    padding-left: 10%;
    padding-right: 10%;
  }

  .shop-name-nav-mobile{
    display: none;
  }

  .nav-mobile-last{
    display: block;
  }

  .nav-mobile-smal-last{
    display: none;
  }



}

@media (min-width: 420px) {


  .nav-desktop-last{
    display: block;
  }
  .nav-mobile-last{
    display: none;
  }

  .nav-mobile-smal-last{
    display: block;
  }


}

@media screen and (max-width: 1200px) {
  .icon-mobile{
    width: 60px;
        height: 60px;
 }
 .nav-icon-desktop{
display: none;
}
.nav-icon-mobile{
  display: block;
  }




}


@media screen and (max-width: 2400px) and (min-width: 1200px) {


  .nav-desktop-last{
    display: block;
  }
  .nav-mobile-last{
    display: none;
  }
  .nav-mobile-smal-last{
    display: none;
  }
}

@media screen and (max-width: 1200px) and (min-width: 450px) {


  .nav-desktop-last{
    display: none;
  }
  .nav-mobile-last{
    display: block;
  }
  .nav-mobile-smal-last{
    display: none;
  }
}
