.row.productdetailweb {
    justify-content: center;
}



.row.productdetailmobile{
    justify-content: center;
    /* margin-top: 50px; */
}

.productpreview{

  width: 100%;
}




  
.card.productdetail{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}







  .gallery-wrap .img-big-wrap img {
    height: 380px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
    text-align: center;
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}
.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
    text-align: center;
}